@{
    ViewBag.Title = "Apple Page";
}


<div style="padding-top:60px">
    <div class="col-lg-6">
        <iframe width="100%" height="750" frameborder="0" class="rssdog" src="https://www.rssdog.com/index.php?url=https%3A%2F%2Frss.itunes.apple.com%2Fapi%2Fv1%2Fus%2Fmovies%2Ftop-movies%2Fall%2F10%2Fexplicit.rss&mode=html&showonly=&maxitems=10&showdescs=1&desctrim=0&descmax=0&tabwidth=100%25&showdate=1&xmlbtn=1&linktarget=_blank&textsize=medium&bordercol=%23000000&headbgcol=%23999999&headtxtcol=%23000000&titlebgcol=%23f1eded&titletxtcol=%23000000&itembgcol=%23ffffff&itemtxtcol=%23000000&ctl=0"></iframe>
    </div>
    <div class="col-lg-6" style="padding-top:8px">
        <a class="twitter-timeline" href="https://twitter.com/AppleTV?ref_src=twsrc%5Etfw">Tweets by AppleTV</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

</div>