@{
    ViewBag.Title = "Disney Page";
}


<div style="padding-top:60px">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6" style="padding-top:8px">
        <a class="twitter-timeline" href="https://twitter.com/DisneyStreaming?ref_src=twsrc%5Etfw">Tweets by DisneyStreaming</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

</div>